<a href="https://colab.research.google.com/github/hadamafer/ETL-Curse-/blob/main/ETL_FinalProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - ETL

Estimated time needed: **20** minutes

## Objectives

In this final part you will:

*   Run the ETL process
*   Extract bank and market cap data from the JSON file `bank_market_cap.json`
*   Transform the market cap currency using the exchange rate data
*   Load the transformed data into a seperate CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!pip install glob
#!pip install pandas
#!pip install requests
#!pip install datetime

## Imports

Import any additional libraries you may need here.

In [ ]:
import glob
import pandas as pd
from datetime import datetime

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [ ]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

"wget" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.
"wget" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.
"wget" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

## Extract

### JSON Extract Function

This function will extract JSON files.

In [ ]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process,orient='columns')
    return dataframe

## Extract Function

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

In [ ]:
columns=['Name','Market Cap (US$ Billion)']

In [ ]:
def extract():
    data_json=pd.DataFrame(columns=['Name','Country','Market Cap (US$ Billion)'])
    jsonfile='bank_market_cap.json'
    data_json=data_json.append(extract_from_json(jsonfile),ignore_index=True)
    return(data_json)

<b>Question 1</b> Load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, you will be asked for the number. Hint: set the parameter  <code>index_col</code> to 0.

In [ ]:
csvfile='exchange_rates_1.csv'
data_csv=pd.read_csv(csvfile)
fila=data_csv.index[data_csv['pound'].str.contains("GBP", case=False)]
exchange_rate=float(data_csv.iloc[fila]['rates'])

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. Write a transform function that

1.  Changes the `Market Cap (US$ Billion)` column from USD to GBP
2.  Rounds the Market Cap (US$ Billion)\` column to 3 decimal places
3.  Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [ ]:

def transform():
    fila=data_csv.index[data_csv['pound'].str.contains("USD", case=False)]
    exchange_rate_us=data_csv.iloc[fila]['rates']
    data_json2=data_json.rename(columns={'Market Cap (US$ Billion)':'Market'})
    data_json2['Market']=round(((data_json2.Market*float(exchange_rate))*float(exchange_rate_us)),3)
    
    data_json3=data_json2.rename(columns={'Market':'Market Cap (GBP$ Billion)'})
    return(data_json3)

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [ ]:
def load(nombre,data):
    data.to_csv(nombre, index=False)
    # Write your code here

## Logging Function

Write the logging function <code>log</code> to log your data:

In [ ]:
def log(mensaje):
    times_f='%Y-%h-%d-%H:%M:%S'
    now=datetime.now()
    times=now.strftime(times_f)
    with open('logfile.txt','a') as f:
        f.write(times + ','+mensaje+'\n')

## Running the ETL Process

Log the process accordingly using the following <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

In [ ]:
log('ETL START')
log('extract started')

### Extract

<code>Question 2</code> Use the function <code>extract</code>, and print the first 5 rows, take a screen shot:

In [ ]:
# Call the function here
data_json=extract()

# Print the rows here
data_json.head()

,Name,Country,Market Cap (US$ Billion)
0,JPMorgan Chase\n,United States,488.470
1,Bank of America\n,United States,401.750
2,Industrial and Commercial Bank of China\n,China,250.383
3,Wells Fargo\n,United States,224.870
4,China Construction Bank\n,China,257.399

Log the data as <code>"Extract phase Ended"</code>

In [ ]:
# Write your code here
log('extract finished')

### Transform

Log the following  <code>"Transform phase Started"</code>

In [ ]:
# Write your code here
log('transform started')

<code>Question 3</code> Use the function <code>transform</code> and print the first 5 rows of the output, take a screen shot:

In [ ]:
# Call the function here
data_json=transform()
# Print the first 5 rows here
data_json.head()

,Name,Country,Market Cap (GBP$ Billion)
0,JPMorgan Chase\n,United States,465.512
1,Bank of America\n,United States,382.868
2,Industrial and Commercial Bank of China\n,China,238.615
3,Wells Fargo\n,United States,214.301
4,China Construction Bank\n,China,245.301

Log your data <code>"Transform phase Ended"</code>

In [ ]:
# Write your code here
log('transform finished')

### Load

Log the following `"Load phase Started"`.

In [ ]:
# Write your code here
log('load started')

Call the load function

In [ ]:
# Write your code here
nombre= 'bank_market_cap_gbp.csv'
load(nombre,data_json)

Log the following `"Load phase Ended"`.

In [ ]:
# Write your code here
log('load finished')
log('etl ended')

## Authors

Ramesh Sannareddy, Joseph Santrcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).